// color
$primary: #3b73f0;
$success: #22bf87;
$warning: #f67770;
$error: #f35248;
$link: #1890ff;

$dark-1: #202020;
$dark-2: #5b5b5b;
$dark-3: #949494;

$light-1: #ffffff;
$light-2: #f6f6f8;

// z-index
$video-index:-999;
$header-index:1000;
$notice-index:990;
$drawer-index:980;
$preview-index:970;
$drawerMask-index:960;
$addButton-index:950;
